*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100vh;
}

header{
    background-color: blue;
    padding: 20px 20px;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

nav{
    background-color: rgb(2, 2, 61);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.caja{
    width: 200px;
    background-color: rgb(2, 2, 61);
}
